name: Build and Deploy Doxygen Docs

on:
  push:
    branches: [ main ]
#    paths:
#      - 'src/**'
#      - 'include/**'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install Doxygen
      run: |
        sudo apt-get update
        sudo apt-get install -y doxygen graphviz

    - name: Generate Doxygen docs
      run: doxygen Doxyfile

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: docs/html

  deploy:
    needs: build-docs
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4

